<nav class="navbar">
  <div class="logo" routerLink="">
    Loja Top
  </div>

  <div class="actions">

    <!-- 🔓 NÃO LOGADO -->
    @if (!authService.isAuthenticated()) {
      <a routerLink="/login" class="login-btn">Login</a>
    }

    <!-- 🔐 LOGADO -->
    @if (authService.isAuthenticated()) {
      <span class="user-name">
        Olá, {{ authService.getUserName() }}
      </span>

      <button class="login-btn" (click)="abrirLogout()">Sair</button>
    }


  </div>
</nav>

@if (showLogoutModal) {
  <div class="modal-backdrop" [class.closing]="closing">
    <div class="modal">
      <h3>Confirmar saída</h3>
      <p>Tem certeza que deseja sair da sua conta?</p>

      <div class="modal-actions">
        <button class="cancel" (click)="cancelarLogout()">Cancelar</button>
        <button class="confirm" (click)="confirmarLogout()">Sair</button>
      </div>
    </div>
  </div>
}
