<aside
  class="sidebar"
  [class.open]="isOpen"
  (click)="$event.stopPropagation()">

  <nav class="menu">

    @if (authService.isAuthenticated()) {

      <!-- TÍTULO DO MENU -->
      <div class="menu-title">
        Menu do Administrador
      </div>

      <!-- USUÁRIO -->
      <div class="user">
        Olá, <strong>{{ authService.getUserName() }}</strong>
      </div>

      @if (authService.isAdmin()) {
        <a routerLink="/AddUsuario">
          Usuários
        </a>

        <a routerLink="/products">
          Produtos
        </a>
      }

      <!-- FECHAR SIDEBAR -->
      <button class="logout-btn" (click)="fecharSidebar()">
        Fechar menu
      </button>

    }

  </nav>
</aside>

<!-- BOTÃO TOGGLE -->
<button 
  class="toggle-btn"
  *ngIf="!isOpen"
  (click)="abrirSidebar()">
  ☰
</button>
