@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


:host {
  display: block;
  padding: 40px;
  background-color: #f4f6f8;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  color: #333;
}

.products {
  max-width: 1100px;
  margin: 0 auto; /* centraliza tudo */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
}

.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.12);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.card h3 {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  margin-bottom: 8px;
}

.card p {
  font-size: 15px;
  font-weight: 600;
  color: #2fb7c1;
}
.delete-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #ff4d4f;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.delete-btn:hover {
  background: #d9363e;
}
